#app-wrapper {
  position: absolute;
  top: 57px;
  bottom: 0px;
  border: 1px solid red;
}


.wrapper {
  position: relative;
}

#advertisers-column {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: auto;
}


#search-and-filters {
  position: relative;
  z-index: 2;
  height: 54px !important;
}


agm-map {
  height: 100%;
}


#app-map {
  //padding-top:  1rem;
}


@media (min-width: 576px){
  #advertisers-column {
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: auto;
    box-sizing: border-box;
  }
}
