<nav class="navbar navbar-light bg-light border-bottom">
  <a class="navbar-brand" href="#">
    Chui Directory
  </a>
</nav>


<div class="container-fluid">

  <!-- Breadcrumb -->
  <div class="row no-gutters">
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Directory</li>
        </ol>
      </nav>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row no-gutters">
    <div class="col-lg-3 col-md-4">dsfsdf</div>
    <div class="col">
      <div class="row">
        <div class="col">
        <app-industry-filter [filters]="[]"></app-industry-filter>
        </div>
      </div>
    </div>
  </div>
</div>


