<nav class="navbar navbar-light bg-light border-bottom">
  <a class="navbar-brand" href="#">
    Chui Directory
  </a>
</nav>


<div class="container-fluid">

  <!-- Breadcrumb -->
  <div class="row no-gutters">
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Directory</li>
        </ol>
      </nav>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
