#app-header {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 121px;
  border: 1px solid blue;
}

#app-content {
  position: absolute;
  top: 121px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border: 1px solid red;
}
