<mat-expansion-panel [expanded]="true">
  <mat-expansion-panel-header [collapsedHeight]="'50px'" [expandedHeight]="'50px'">
    <mat-panel-title>
      Filters
    </mat-panel-title>
  </mat-expansion-panel-header>
  <ng-template matExpansionPanelContent>
   <div class="container-fluid">
     <div class="row" *ngIf="!isFetchingData">
       <div class="col">
        <app-industry-filter-item *ngFor="let filter of filters" [filter]="filter"></app-industry-filter-item>
       </div>
     </div>
     <div class="row justify-content-center">
       <div class="col-auto">
         <mat-spinner [diameter]="50"></mat-spinner>
       </div>
     </div>
   </div>
  </ng-template>
  <mat-action-row>
    <div class="container-fluid no-padding">
      <div class="row no-gutters">
        <div class="col">
          <button mat-raised-button color="primary">Apply</button>
          <button mat-button color="primary">Clear</button>
        </div>
      </div>
    </div>
  </mat-action-row>
</mat-expansion-panel>
