<div class="advertiser-item">
  <mat-card>
    <mat-card-content>
      <div class="media">
        <img class="mr-2" src="..." alt="">
        <div class="media-body">
          <address>
            <strong>Maxwell's Chophouse</strong><br>
            1355 Market St, Suite 900<br>
            San Francisco, CA 94103<br>
            Phone (123) 456-7890
          </address>
        </div>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <div class="container no-padding">
        <div class="row align-items-stretch">
          <div class="col-md-auto next-offer text-left align-content-center">Get 7% Cash Back when you dine here</div>
          <div class="col-md-auto align-items-end">
            <button mat-button [color]="'primary'">View</button>
          </div>
        </div>
      </div>
    </mat-card-footer>
  </mat-card>
</div>
